<md-card>

    <md-card-title>
        <md-card-title-text>
            <span class="{{ card.title.class }}">{{ card.title.text }}</span>
            <span ng-if="card.title.sub" class="md-subhead">{{ card.title.sub }}</span>
        </md-card-title-text>
    </md-card-title>

    <md-card-content>
        <div ng-include="card.tpl"></div>
    </md-card-content>

</md-card>
