<p class="md-body-1">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae excepturi harum illum iste labore, nesciunt
    recusandae repudiandae sequi similique? Ad aut beatae eaque expedita iure non nulla vero voluptatem, voluptatibus?
</p>

<p class="md-caption">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium alias architecto consequatur, dolore dolores
    eos impedit incidunt ipsam iusto, non pariatur quae quod recusandae sed tempore, tenetur vel voluptate!
</p>
