<h2 class="md-headline">{{ 'Sample' | pluralize }} Profile</h2>

<div layout="column">
    <div layout="row" layout-align="start center" style="padding: 10px 0;">
        <md-icon>extension</md-icon>
        <mdi-con>account</mdi-con>
        <mdi-con color="#FA0">android</mdi-con>
    </div>

    <div layout="row" layout-align="start center" style="padding: 10px 0;">
        <md-button class="md-icon-button" ng-repeat="i in [] | rangeOne:5">
            <md-icon aria-label="{{ i }} star">star_border</md-icon>
            <md-tooltip>{{ i }} Star{{ i > 1 ? 's' : null}}</md-tooltip>
        </md-button>
    </div>
</div>


<ul>
    <li ng-repeat="n in [] | range:5">{{ n }}</li>
</ul>

<div layout="column" layout-gt-sm="row">
    <ng-card ng-repeat="n in [] | range:2" card="app.card"></ng-card>
</div>

<div layout="column" layout-gt-sm="row">
    <ng-card ng-repeat="n in [] | range:2" card="app.card"></ng-card>
</div>
