<div layout="column" layout-gt-sm="row" layout-padding>
    <div ng-repeat="n in rows"
         layout="{{ _layout[n].layout }}"
         flex="{{ _layout[n].flex.flex }}"
         flex-offset="{{ _layout[n].flex.offset }}"
         flex-gt-sm="{{ _layout[n].flex.gt_sm }}"
         flex-offset-gt-sm="{{ _layout[n].flex.gt_sm_offset }}"
         ui-view="{{ n }}"></div>
</div>
