<!DOCTYPE html>
<html lang="en" ng-app="ngSkeleton" ng-cloak ng-csp>
<head>
    <meta charset="UTF-8">
    <title>ng-skeleton</title>
    <base href="/">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

    <link rel="icon" href="assets/favicon.ico">

    <link href='assets/vendor/styles/angular-csp.css' rel='stylesheet' type='text/css'>
    <link href='assets/vendor/styles/angular-material.min.css' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic" rel='stylesheet'>
    <link href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css' rel='stylesheet'>

</head>
<body ng-controller="AppCtrl as app" layout="column" layout-fill>

<header ng-if="_show.header" ui-view="header"></header>

<main layout="{{ _layout.main.layout }}" flex layout-padding>
    <md-content ui-view="main"></md-content>
</main>

<footer ng-if="_show.footer" ui-view="footer"></footer>

<script src="assets/vendor/libs/validator.min.js"></script>
<script src="assets/vendor/libs/moment.min.js"></script>
<script src="ng.bundle.js"></script>
<script src="utilities.bundle.js"></script>
<script src="app.bundle.js"></script>
</body>
</html>
