@iconStepInc: 6;
@iconStepStart: 18;
@iconStepMax: 72;

.iconLoop(@index)when(@index<=@iconStepMax){
  .icon-@{index}{
    width: ~"@{index}px";
    height: ~"@{index}px";
    font-size: ~"@{index}px";
  }.iconLoop(@index+@iconStepInc)
}.iconLoop(@iconStepStart);
